#infoContainer {
  align-items: center;
  > #networksContainer {
    display: flex;
    justify-content: center;
    gap: 5px 30px;
    flex-wrap: wrap;
    width: 100%;
    > .networkContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      flex-wrap: wrap;
      > :first-child {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
      }
      > :last-child {
        width: fit-content;
      }
    }
  }
  .textarea {
    margin-bottom: -7px;
  }
}
