@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #000513;
  --secondaryColor: #d6f4f4;
  --thirdColor: #56c4cb;
  --highligthColor: #97feed;
  --heighHeader: 60px;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.05em;
}

body {
  color: var(--secondaryColor);
  background: linear-gradient(to bottom, transparent, var(--primaryColor)) var(--primaryColor);
  .scssClass {
    background-color: rgb(55, 18, 243);
    text-align: center;
    padding: 20px 0;
    h2 {
      color: white;
      font-family: "Roboto", sans-serif;
    }
  }
}

.general-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.error-field-message {
  color: red;
  margin-top: 2px;
}

.section-title{
  font-size: 30px;
  text-align: center;
  >span {
    color: var(--thirdColor);
  }
}
