@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: rgb(7, 25, 82);
  --secondaryColor: rgb(53, 162, 159);
  --thirdColor: rgb(151, 254, 237);
  --heighHeader: 60px;
}

* {
  font-family: "Roboto Mono";
  font-weight: bold;
}

body {
  color: var(--secondaryColor);
  background: linear-gradient(to bottom, transparent, var(--primaryColor)) var(--primaryColor);
  .scssClass {
    background-color: rgb(55, 18, 243);
    text-align: center;
    padding: 20px 0;
    h2 {
      color: white;
      font-family: sans-serif;
    }
  }
}

.heightHeader {
  height: var(--heighHeader);
}

.heightWithHeader {
  min-height: 100vh;
  padding-top: var(--heighHeader);
}
