@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import "src/styles/variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: $secondaryColor;
    --secondary-color: $primaryColor;
    --third-color: $thirdColor;
  }
}

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    // --foreground-rgb: var(--secondary-color);
    // --background-start-rgb: var(--primary-color);
    // --background-end-rgb: var(--primary-color);
    --foreground-rgb: $secondaryColor;
    --background-start-rgb: $primaryColor;
    --background-end-rgb: $primaryColor;
  }
}

* {
  font-family: "Courier Prime";
  font-weight: 700;
}

body {
  color: $secondaryColor;
  background: linear-gradient(to bottom, transparent, $primaryColor) $primaryColor;
  .scssClass {
    background-color: rgb(55, 18, 243);
    text-align: center;
    padding: 20px 0;
    h2 {
      color: white;
      font-family: sans-serif;
    }
  }
}

.heightHeader {
  height: $heighHeader;
}

.heightWithHeader {
  min-height: 100vh;
  padding-top: $heighHeader;
}
