$cardBorderRadius: 8px;

#projectsTable {
  display: grid;
  margin: 20px 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  > .projectContainer {
    gap: 15px;
    > .imageContainer {
      border-radius: $cardBorderRadius;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        border-radius: $cardBorderRadius;
      }
    }
    > .projectText {
    }
  }
}
